{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{%static "app.css"%}">
    {% block css_file %}{% endblock css_file %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{%url "home-page" %}">Blah Blog</a></h1>
        <nav>
            <a href="{%url "read-later" %}">Read Later</a>
            <a href="{%url "posts-page" %}">All Posts</a>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>