{% load static %}
<li>
    <article class="post">
        <a href="{%url "post-detail-page" %}">
            <img src="{%static "blog/images/cat4.jpeg"%}" alt="">
            <div class="post__content">
                <h3>
                    Mountain hiking
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quae eligendi harum vero, fuga velit dolorum ducimus molestiae, ipsam sit odio vitae hic amet ratione.
                </p>
            </div>
        </a>

    </article>
</li>