{% extends "base.html" %}
{% load static %}
{% block title %}My Blog{% endblock title %}
{% block css_file %}
<link rel="stylesheet" href="{% static "blog/index.css"%}">
<link rel="stylesheet" href="{% static "blog/post.css"%}">
{% endblock css_file %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{%static "blog/images/cat.jpg"%}" alt="Blahhahahaha">
            <h2>Blah's Blog</h2>
        </header>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio eius ullam repellendus soluta tempore dolores laudantium natus, veniam nobis possimus eaque, inventore consequatur voluptatibus quisquam.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Kalaaviruthu</h2>
        <ul>
            {%include "blog/includes/posts.html"%}
        </ul>
    </section>

    <section id="about">
        <h2>
            Njan etha?  
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius velit veniam voluptate nesciunt enim eum ipsa iure minima. Commodi tempora nesciunt nihil quis alias possimus officiis, repellendus soluta. Libero cupiditate incidunt fugit neque iure reiciendis eum adipisci quia! Et illo ex laborum eaque autem quas quo voluptates expedita recusandae!
        </p>
    </section>
{% endblock content %}