{% extends "base.html" %}
{% load static %}{% comment %} Holy shit dude why isnt it not working without this 🥴{% endcomment %}
{% block title %}
    {{post.title}}
{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{% endblock css_file %}

{% block content %}
{% if comment_form.errors %}
<div id="alert">
    <h2>
        Nookim kandum form fill cheyy......error adichu🚶🏼
    </h2>
    <a href="#comment-form">Fix</a>
</div>
{% endif %}
<section id="summary">
    <h2>{{post.title}}</h2>
    <div>
        {%for tag in tags%}    
        <span><div class="tag">{{tag.caption}}</div></span>
        {% endfor %}
    </div>
    <div id="read-later">
        <form action="{% url "read-later"%}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{post.id}}">
            <button>
                {% if is_saved %}
                    Remove from Read Later
                {% else %}
                    Read Later
                {% endif %}
            </button>
        </form>
    </div>
    <article>
        <img src="{{post.img_name.url}}" alt="">
        <address><a href="mailto:{{post.author.email}}">{{post.author}}</a></address>
        <div>
            Last updated on <time>{{post.date}}</time>
        </div>
    </article>
</section>
<main>
    {{post.content|linebreaks}}
</main>
<div id="comments">
    {% for comment in comments %}
    <li>
        <h2>{{comment.user_name}}</h2>
        {% comment %} {{comment.user_email}}{% endcomment %}
        <p>{{comment.text|linebreaks}}</p>
    </li>
    {% endfor %}
</div>
<div id="comment-form">
    <form action="{%url 'post-detail-page' post.slug %}" method="POST" >
        {% csrf_token %}
        <h2>Your Comment</h2>
        {% for form_field in comment_form %}
            <div class="form-control {% if form_field.errors %} invalid {% endif %}">
                {{form_field.label_tag}}
                {{form_field}}
                {{form_field.errors}}
            </div>
        {% endfor %}
        <button>Submit</button>
    </form>
</div>
{% endblock content %}